.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
ios/
android/
linux/
macos/
windows/
web/
.env
*.g.dart
*.freezed.dart
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
